
@{
    ViewBag.Title = "Items";
}

<div class="custom-cloak {{ 'show-tool' }}" ng-controller="ItemListController" id="item-container">
    <div class="row top-buffer">
        <div class="col-sm-12">
            <h3>Items</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-8 text-right">
            <div class="btn-group btn-group-toggle btn-status-toggle" data-toggle="buttons">
                <label class="btn btn-default active">
                    <input type="radio" name="filterItems" ng-model="filter_status" value="" id="all-items" autocomplete="off"> All ({{items.length}})
                </label>
                <label class="btn btn-default">
                    <input type="radio" name="filterItems" ng-model="filter_status" value="custom" id="custom-items" autocomplete="off" checked> Custom ({{custom}})
                </label>
                <label class="btn btn-default">
                    <input type="radio" name="filterItems" ng-model="filter_status" value="synced" id="synced-items" autocomplete="off"> Synced ({{synced}})
                </label>
                <label class="btn btn-default">
                    <input type="radio" name="filterItems" ng-model="filter_status" value="imported" id="imported-items" autocomplete="off"> Imported ({{imported}})
                </label>
            </div>
            <a href="#" class="btn btn-blue form-open" data-url="Items/AddItem" data-ngcontroller="ItemController">New Item</a>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-sm-12">
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <td width="12%" class="text-center">
                            FLD item Code<br />
                            <input type="text" class="form-control form-control-xs" ng-model="filter_fld_code" />
                        </td>
                        <td width="12%" class="text-center">
                            Vendor Code<br />
                            <input type="text" class="form-control form-control-xs" ng-model="filter_vendor_code" />
                        </td>
                        <td class="text-center">
                            FLD Description<br />
                            <input type="text" class="form-control form-control-xs" ng-model="filter_fdl_desc" />
                        </td>
                        <td class="text-center">
                            Vendor Description<br />
                            <input type="text" class="form-control form-control-xs" ng-model="filter_vendor_desc" />
                        </td>
                        <td width="10%" class="text-center">Status</td>
                        <td width="8%" class="text-center"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="item in items | filter : { ItemNumber : filter_fld_code, VendorItemNumber : filter_vendor_code, ItemDescription : filter_fdl_desc, VendorItemDescription : filter_vendor_desc, Status : filter_status } | itemsPerPage : 200 | orderBy : Status ">
                        <td class="text-center">{{ item.ItemNumber }}</td>
                        <td class="text-center">{{ item.VendorItemNumber }}</td>
                        <td>{{ item.ItemDescription }}</td>
                        <td>{{ item.VendorItemDescription }}</td>
                        <td class="text-center">{{ item.Status }}</td>
                        <td class="text-center">
                            <div class="btn-group btn-group-xs" role="group" ng-show="{{ item.Status == 'Custom' }}">
                                <button type="button" class="btn btn-default btn-sm form-open" data-ngcontroller="ItemController" data-url="Items/EditItem" data-id="{{ item.ItemId }}">Edit</button>
                                <div class="btn-group btn-group-sm" role="group">
                                    <button id="item-actions" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="caret"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="item-actions">
                                        <a class="dropdown-item" ng-click="deleteItem(item.ItemId)">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <dir-pagination-controls on-page-change="refreshPopups()"></dir-pagination-controls>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            //call angular
            angular.element("#item-container").scope().indexLoad();
        });
    </script>

}