<div>
    <div class="{{ 'show-tool' }} popup-container" id="popup-container">
        <div class="row">
            <div class="col-xs-8">
                <h3>Consumer Report</h3>
            </div>
        </div>
        <div class="row">
            @*<div class="col-sm-offset-8 col-xs-4 total-container">
                <span class="total-label">Total:</span>
                <span class="total-value">1439</span>
            </div>*@
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="width:40%;text-align:left">Customer</th>
                            <th style="width:20%">Average {{ 2017 }}</th>
                            <th style="width:20%">{{ MonthName }} {{ 2017 }}</th>
                            <th style="width:20%">Forecast</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="customer in Customers">
                            <td style="width:40%;text-align:left">{{ customer.CustomerName }}</td>
                            <td style="width:20%">@*{{ customer.Average | number : 2 }}*@</td>
                            <td style="width:20%">@*{{ customer.MonthUsage }}*@</td>
                            <td style="width:20%">@*{{ customer.Quantity }}*@</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="loading" class="text-center">Loading...</div>
    </div>
    <div class="footer">
        <div class="row">
            <div class="col-xs-6" style="float:right; text-align:right;">
                <button class="btn btn-default" ng-click="closePopup()">Cancel</button>
                <button class="btn btn-success" ng-click="saveDetails()">Save</button>
            </div>
        </div>
    </div>
</div>

<script>
    angular.element("#popup-container").scope().populateList(@ViewBag.ItemId, @ViewBag.Month);
</script>