
@{
    ViewBag.Title = "Forecast Tool";
    ViewBag.FullWidth = "full-width min-1366";
}

<div class="custom-cloak {{ 'show-tool' }} col-no-padding" ng-controller="ToolsController" id="tool-container">
    <div class="row col-no-padding" style="">
        <div class="tool-header">
            <div class="pagination-container">
                <div class="row">
                    <div class="col-md-offset-6 col-md-3 text-right">
                    </div>
                    <div class="col-md-3">
                        <dir-pagination-controls></dir-pagination-controls>
                    </div>
                </div>
            </div>
            <div class="table-header-container">
                <table class="table table-bordered table-striped data-table">
                    <tr class="hidden-table-row">
                        <th class="th col1"></th>
                        <th class="th col2"></th>
                        <th class="th col3"></th>
                        <th class="th col4"></th>
                        <th class="th col5"></th>
                        <th class="th col6"></th>
                        <th class="th col7"></th>
                        <th class="th col8"></th>
                        <th class="th col9"></th>
                        <th class="th col10"></th>
                        <th class="th col11"></th>
                        <th class="th col12"></th>
                        <th class="th col13"></th>
                        <th class="th col14"></th>
                        @*<th class="th col15"></th>
                        <th class="th col16"></th>
                        <th class="th col17"></th>
                        <th class="th col18"></th>
                        <th class="th col19"></th>
                        <th class="th col20"></th>*@
                    </tr>
                    <tr style="height:50px;">
                        <td style="border-top:none; border-left:none; text-align:left;" colspan="8">
                            <input class="search-bar" ng-model="search" placeholder="filter Items" />
                        </td>
                        <td colspan="2" dir-paginate="month in months | itemsPerPage : 3">
                            <span style="text-align:center; width:100%; font-size:14px; padding-top:10px;"><h5>{{ month }}</h5></span>
                        </td>
                    </tr>
                    <tr style="height:30px;">
                        <th class="th col1">Supplier Code</th>
                        <th class="th col2">FLD Item Code</th>
                        <th class="th col3">Description</th>
                        <th class="th col4">Weight</th>
                        <th class="th col5">Unit</th>
                        <th class="th col6">M</th>
                        <th class="th col7">I</th>
                        <th class="th col8">P</th>

                        <th class="th col9">Forecast</th>
                        <th class="th col10">Revised</th>

                        <th class="th col11">Forecast</th>
                        <th class="th col12">Revised</th>

                        <th class="th col13">Forecast</th>
                        <th class="th col14">Revised</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="data-section ng-cloak" ng-cloak>
        <div class="row col-no-padding">

            <table cellpadding="0" cellspacing="0" class="table table-bordered table-striped data-table">
                <tr class="hidden-table-row">
                    <th class="th col1"></th>
                    <th class="th col2"></th>
                    <th class="th col3"></th>
                    <th class="th col4"></th>
                    <th class="th col5"></th>
                    <th class="th col6"></th>
                    <th class="th col7"></th>
                    <th class="th col8"></th>
                    <th class="th col9"></th>
                    <th class="th col10"></th>
                    <th class="th col11"></th>
                    <th class="th col12"></th>
                    <th class="th col13"></th>
                    <th class="th col14"></th>
                    @*<th class="th col15"></th>
                    <th class="th col16"></th>
                    <th class="th col17"></th>
                    <th class="th col18"></th>
                    <th class="th col19"></th>
                    <th class="th col20"></th>*@
                </tr>
                <tr ng-repeat="item in itemsList | filter: { VendorItemNumber : search }">
                    <td class="left-pane-cell"><div>{{ item.VendorItemNumber }}</div></td>
                    <td class="left-pane-cell"><div>{{ item.ItemNumber }}</div></td>
                    <td class="left-pane-cell"><div>{{ item.VendorItemDescription }}</div></td>
                    <td class="left-pane-cell text-center">{{ item.Weight | number: 0 }}</td>
                    <td class="left-pane-cell text-center"></td>
                    <td class="left-pane-cell text-center">{{ item.M | number: 0 }}</td>
                    <td class="left-pane-cell text-center">{{ item.I | number: 0 }}</td>
                    <td class="left-pane-cell text-center">{{ item.P | number: 0 }}</td>
                    <td class="right-pane-cell editable" unselectable="on" dir-paginate-start="month in item.ForecastData | itemsPerPage : 3" 
                         emit-repeat-complete>
                        <i class="glyphicon glyphicon-pencil form-open edit-icon" data-size="lg" data-id="{{ item.ItemId }}" data-querystring="?m={{ month.Month }}" data-ngcontroller="ForecastDetailController" data-url="/Forecast/Details"></i>
                        <span unselectable="on" >{{ month.Forecast }}</span>
                    </td>
                    <td class="right-pane-cell editable" dir-paginate-end>
                        <i class="glyphicon glyphicon-pencil form-open edit-icon" data-size="lg" data-id="{{ item.ItemId }}" data-querystring="?m={{ month.Month }}&r=1" data-ngcontroller="ForecastDetailController" data-url="/Forecast/Details"></i>
                        <span unselectable="on">{{ month.Revised }}</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

@section Styles{
    @*Apply this style to this page only*@
    <link rel="stylesheet" type="text/css" href="~/Content/tool-styles.css">
    <link rel="stylesheet" type="text/css" href="~/Content/cog-styles.css">
}




