<div class="{{ 'show-tool' }} col-no-padding min-1366" ng-controller="ToolsController" id="tool-container">
    <div class="row col-no-padding table-container tableFixHead">
        <div class="pagination-container">
            <dir-pagination-controls></dir-pagination-controls>
        </div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr style="height:50px;">
                    <td style="border-top:none; border-left:none; text-align:left;" colspan="8">
                        <input class="search-bar" ng-model="search" placeholder="filter Items" />
                    </td>
                    <td colspan="4" dir-paginate="month in months | itemsPerPage : 3">
                        <span style="text-align:center; width:100%; font-size:14px; padding-top:10px;"><h5>{{ month }}</h5></span>
                    </td>
                </tr>
                <tr style="height:30px;">
                    <th class="th col1"></th>
                    <th class="th col2"></th>
                    <th class="th col3"></th>
                    <th class="th col4"></th>
                    <th class="th col5"></th>
                    <th class="th col6">M</th>
                    <th class="th col7">I</th>
                    <th class="th col8">P</th>

                    <th class="th col9">Consumed</th>
                    <th class="th col10">Forecast</th>
                    <th class="th col11">Revised</th>
                    <th class="th col12">Actual</th>

                    <th class="th col13">Consumed</th>
                    <th class="th col14">Forecast</th>
                    <th class="th col15">Revised</th>
                    <th class="th col16">Actual</th>

                    <th class="th col17">Consumed</th>
                    <th class="th col18">Forecast</th>
                    <th class="th col19">Revised</th>
                    <th class="th col20">Actual</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in itemsList | filter: search">
                    <td class="col1 left-pane-cell"><span>{{item.ItemId}}</span></td>
                    <td class="col2 left-pane-cell">{{itemsList.length}}</td>
                    <td class="col3 left-pane-cell">{{ item.ForecastData.length }}</td>
                    <td class="col4 left-pane-cell"></td>
                    <td class="col5 left-pane-cell"></td>
                    <td class="col6 left-pane-cell"></td>
                    <td class="col7 left-pane-cell"></td>
                    <td class="col8 left-pane-cell"></td>
                    <td class="col9 right-pane-cell" dir-paginate-start="month in item.ForecastData | itemsPerPage : 3" emit-repeat-complete>{{ month.consumption }}</td>
                    <td class="col10 right-pane-cell">{{ month.length }}</td>
                    <td class="col11 right-pane-cell">rfe</td>
                    <td class="col12 right-pane-cell" dir-paginate-end></td>
                </tr>
            </tbody>

        </table>
    </div>
</div>

@section Styles{
    <style>
        div#tool-container {
            display: none;
        }

            div#tool-container.show-tool {
                display: block;
            }

        div#spinner-container {
            display: block;
        }

            div#spinner-container.hide-spinner {
                display: none;
            }

        td, th {
            font-size: 10px;
            padding: 2px !important;
            border-collapse:collapse;
        }

            .body-content{
                margin:0px !important;
                padding:0px !important;
            }


        div.pagination-container ul,
        div .pagination-container ol {
            margin: 10px 0;
        }

        .pagination {
            padding-left: 40px !important;
        }

        div.pagination-container {
            min-height: 50px !important;
            max-height: 50px !important;
        }
        div.tableFixHead {
            overflow-y: auto;
            height: calc(100vh-100px) !important;
        }

            .tableFixHead table {
                border-collapse: collapse;
                width: 100%;
            }

        .tableFixHead th,
        .tableFixHead td {
            padding: 8px 16px;
        }

        .tableFixHead thhead {
            position: sticky;
            top: 0;
            background: #eee;
        }
        /*
        tr {
            width: 100%;
            display: inline;
            table-layout: fixed;
            margin-right: 17px;
        }

        table {
            height: 300px;
        }

        tbody::-webkit-scrollbar{
            margin-right:-17px;
            width:17px;
        }

        tbody {
            overflow-y: scroll;
            height: calc(100vh - 250px);
            position: absolute;
        }
        */
        td.col1,
        th.col1 {
            width: 10%;
            max-width: 10%;
        }

        td.col2,
        th.col2 {
            width: 9%;
            max-width: 9%;
        }

        td.col3,
        th.col3 {
            width: 5%;
            max-width: 5%;
        }

        td.col4,
        th.col4 {
            width: 5%;
            max-width: 5%;
        }

        td.col5,
        th.col5 {
            width: 5%;
            max-width: 5%;
        }

        td.col6,
        th.col6 {
            width: 2%;
            max-width: 2%;
        }

        td.col7,
        th.col7 {
            width: 2%;
            max-width: 2%;
        }

        td.col8,
        th.col8 {
            width: 2%;
            max-width: 2%;
        }

        td.col9,
        th.col9 {
            width: 5%;
            max-width: 5%;
        }

        td.col10,
        th.col10 {
            width: 5%;
            max-width: 5%;
        }

        td.col11,
        th.col11 {
            width: 5%;
            max-width: 5%;
        }

        td.col12,
        th.col12 {
            width: 5%;
            max-width: 5%;
        }

        td.col13,
        th.col13 {
            width: 5%;
            max-width: 5%;
        }

        td.col14,
        th.col14 {
            width: 5%;
            max-width: 5%;
        }

        td.col15,
        th.col15 {
            width: 5%;
            max-width: 5%;
        }

        td.col16,
        th.col16 {
            width: 5%;
            max-width: 5%;
        }

        td.col17,
        th.col17 {
            width: 5%;
            max-width: 5%;
        }

        td.col18,
        th.col18 {
            width: 5%;
            max-width: 5%;
        }

        td.col19,
        th.col19 {
            width: 5%;
            max-width: 5%;
        }

        td.col20,
        th.col20 {
            width: 5%;
            max-width: 5%;
        }

    </style>

}
