
@{
    ViewBag.Title = "Forecast Tool";
    ViewBag.FullWidth = "full-width min-1366";
}

<div class="{{ 'show-tool' }} col-no-padding" ng-controller="ToolsController" id="tool-container">
    <div class="row col-no-padding" style="">
        <div class="tool-header">
            <div class="pagination-container">
                <dir-pagination-controls on-page-change="test()"></dir-pagination-controls>
            </div>
            <div class="table-header-container">
                <table class="table table-bordered table-striped data-table">
                    <tr class="hidden-table-row">
                        <th class="th col1"></th>
                        <th class="th col2"></th>
                        <th class="th col3"></th>
                        <th class="th col4"></th>
                        <th class="th col5"></th>
                        <th class="th col6"></th>
                        <th class="th col7"></th>
                        <th class="th col8"></th>
                        <th class="th col9"></th>
                        <th class="th col10"></th>
                        <th class="th col11"></th>
                        <th class="th col12"></th>
                        <th class="th col13"></th>
                        <th class="th col14"></th>
                        <th class="th col15"></th>
                        <th class="th col16"></th>
                        <th class="th col17"></th>
                        <th class="th col18"></th>
                        <th class="th col19"></th>
                        <th class="th col20"></th>
                    </tr>
                    <tr style="height:50px;">
                        <td style="border-top:none; border-left:none; text-align:left;" colspan="8">
                            <input class="search-bar" ng-model="search" placeholder="filter Items" />
                        </td>
                        <td colspan="4" dir-paginate="month in months | itemsPerPage : 3">
                            <span style="text-align:center; width:100%; font-size:14px; padding-top:10px;"><h5>{{ month }}</h5></span>
                        </td>
                    </tr>
                    <tr style="height:30px;">
                        <th class="th col1"></th>
                        <th class="th col2"></th>
                        <th class="th col3"></th>
                        <th class="th col4"></th>
                        <th class="th col5">Weight (g)</th>
                        <th class="th col6">M</th>
                        <th class="th col7">I</th>
                        <th class="th col8">P</th>

                        <th class="th col9">Consumed</th>
                        <th class="th col10">Forecast</th>
                        <th class="th col11">Revised</th>
                        <th class="th col12">Actual</th>

                        <th class="th col13">Consumed</th>
                        <th class="th col14">Forecast</th>
                        <th class="th col15">Revised</th>
                        <th class="th col16">Actual</th>

                        <th class="th col17">Consumed</th>
                        <th class="th col18">Forecast</th>
                        <th class="th col19">Revised</th>
                        <th class="th col20">Actual</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="data-section ng-cloak" ng-cloak>
        <div class="row col-no-padding">

            <table cellpadding="0" cellspacing="0" class="table table-bordered table-striped data-table">
                <tr class="hidden-table-row">
                    <th class="th col1"></th>
                    <th class="th col2"></th>
                    <th class="th col3"></th>
                    <th class="th col4"></th>
                    <th class="th col5"></th>
                    <th class="th col6"></th>
                    <th class="th col7"></th>
                    <th class="th col8"></th>
                    <th class="th col9"></th>
                    <th class="th col10"></th>
                    <th class="th col11"></th>
                    <th class="th col12"></th>
                    <th class="th col13"></th>
                    <th class="th col14"></th>
                    <th class="th col15"></th>
                    <th class="th col16"></th>
                    <th class="th col17"></th>
                    <th class="th col18"></th>
                    <th class="th col19"></th>
                    <th class="th col20"></th>
                </tr>
                <tr ng-repeat="item in itemsList | filter: { ItemId : search }">
                    <td class="left-pane-cell"><span>{{item.ItemId}}</span></td>
                    <td class="left-pane-cell">{{itemsList.length}}</td>
                    <td class="left-pane-cell">{{ item.ForecastData.length }}</td>
                    <td class="left-pane-cell"></td>
                    <td class="left-pane-cell text-center">{{ item.Weight | number: 0 }}</td>
                    <td class="left-pane-cell text-center">{{ item.M | number: 2 }}</td>
                    <td class="left-pane-cell text-center">{{ item.I | number: 2 }}</td>
                    <td class="left-pane-cell text-center">{{ item.P | number: 2 }}</td>
                    <td class="right-pane-cell" dir-paginate-start="month in item.ForecastData | itemsPerPage : 3" emit-repeat-complete>
                        <a href="#" target="popup" class="consumed popup-open" data-item-id="{{ item.ItemId }}" data-item-month="{{ month.month }}">
                            {{ month.consumption }}
                        </a>
                    </td>
                    <td class="right-pane-cell editable" unselectable="on">
                        <span unselectable="on">{{ month.forecast }}</span>
                        <input type="text" ng-model="month.forecast" class="form-control"/>
                    </td>
                    <td class="right-pane-cell">{{ month.revised }}</td>
                    <td class="right-pane-cell" dir-paginate-end>{{ month.actual }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

@section Styles{
    @*Apply this style to this page only*@
    <link rel="stylesheet" type="text/css" href="~/Content/tool-styles.css">
    <link rel="stylesheet" type="text/css" href="~/Content/cog-styles.css">
}

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.popup-open.consumed').click(function (e) {
                e.preventDefault();
                window.open('/Forecast/Consumed/' + e.target.dataset.itemId + '?m=' + e.target.dataset.itemMonth, 'popup', 'width=600,height=600,scrollbars=no,resizable=no');
            });

            $("td.editable").on("dblclick", function (e) {
                //close other cells
                $("td.editable.edit").removeClass("edit");

                $(e.target).addClass("edit");
            });

            //if span is clicked
            $("td.editable span").on("dblclick", function (e) {
                //close other cells
                //$("td.editable.edit").removeClass("edit");

                //make clicked cell editable
                $(e.target.parentElement).toggleClass("edit");
            });

            //if span is clicked
            $("td.editable input").on("blur", function (e) {
                $(e.target.parentElement).toggleClass("edit");
                //save record
            });
        });
    </script>

    }


