
@{
    ViewBag.Title = "Forecast Tool";
    ViewBag.FullWidth = "full-width min-1366";
}

<div class="col-no-padding" ng-controller="ToolsController" id="tool-container">
    <div class="row">
        <div class="col-md-2">{{ 9 + 9}}</div>
        <div class="col-md-2">{{ firstName }}</div>
    </div>
</div>

