body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-width: 500px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}

/*full page width*/
div.container.full-width {
    padding-left: 2px !important;
    padding-right: 2px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    width:100%;
}

/*remove padding from bootstrap containers*/
div.col-no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

/*add 20px buffer above containers*/
div.top-buffer {
    margin-top: 20px !important;
}


/*custom nav bar styles*/
.navbar{
    padding-right:15px;
    padding-left:15px;
}

/*add padding for icons*/
i.glyphicon{
    padding-right:8px;
}

/*remove styles for unordered lists*/
ul.list-no-style{
    list-style:none;
    padding-left:0px;
}

/*minimum width*/
div.min-1366{
    min-width:1366px !important;
}